* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: "FX_LED";
    src: url("fonts/FX-LED.TTF");
}

@font-face {
    font-family: "Hack";
    src: url("fonts/Hack-Bold.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #101010;
    font-family: Arial, sans-serif;
}

.digital-clock {
    background-color: #000;
    color: #fff;
    display: flex;
    border-radius: 2rem;
    padding: 0 2rem;
    border: 0.5rem solid #2d2d2d;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Hack";
}

.week .active {
    color: white;
}

.time {
    font-family: "FX_LED";
    display: flex;
    align-items: center;
}

.hour,
.min,
.dot {
    display: inline-block;
    font-size: 13rem;
    line-height: 1;
}

.min {
    display: inline-block;
}

.dot {
    margin: 0 1rem;
}

.invisible {
    visibility: hidden;
}
